@import "common/_variables";
@import "settings/_settings";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation-sites/scss/foundation.scss";
// endbower

@include foundation-everything;

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

body{
	width:100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	background-color: #212121;

	
	
}




.break__block{
	flex-grow: 1;
	
}

.tabs-content{
	width:100%;
	height:86.5%;

	
		#panel5d {
			background-image:url(/dist/images/Rectangle.svg) ;
			background-size:cover ;
			background-repeat:no-repeat;
			width:100% ;
			height:100% ;
			position:relative;
			
				.overlay {
					position: absolute;
					left: 0;
					bottom: 0;
					top: 0;
					right: 0;
					margin: auto;
					height:120px;
					width:30%;
					
				}
				.descr {
					display:block;
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background-color:rgba(110,110,110,.5);
						.icons {
							display:flex;
							width:80%;
							height:300px;
							margin:auto;
							align-items:flex-end;
							justify-content:space-around;

								.ico {
									width:150px;
									height:200px;
									display:flex;
									border:1px dashed #fff;
									color:#fff;
									flex-direction:column;
									justify-content:space-around;
									font-size:13px;
									cursor:pointer;
								}
								&:hover {
									-webkit-transform: scale(1.1);
  									-ms-transform: scale(1.1);
  									transform: scale(1.1);
								}
							
						}
						.contacts {
									height:200px;
									width:200px;
									border:1px dashed #fff;
									display:flex;
									flex-direction:column;
									justify-content:space-around;
									padding-left:10px;
									color:#fff;
									cursor:pointer;
								}
						.header {
							display:flex;
							margin-left:250px;
							width:80%;
							height:120px;
							align-items:center;
							flex-direction:row-reverse;
							cursor:pointer;
								
								.box_main {
									display:flex;
									width:100px;
									height:100px;
									border:2px solid #fff;
									margin-right:50px;
									color:#ffffff;
									align-items:center;
									justify-content:center;
									font-size:13px;
									font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;;
								}
								&:hover {
									border-radius: 70%;
								}

								&:hover .box {
											
									 		display:block;									  display:block;
								}
						
								.box {
									display:flex;
									width:200px;
									height:100px;
									border:.5px dashed #fff;
									display:none;
									flex-direction:column;
									justify-content:center;
									padding-left:10px;
									padding-top:30px;
									color:#fff;
									font-size:13px;
									
								}
								

						}
					
				}

			
		}
	
}



.tabs {
	display:flex;
	margin:4px;	
	
	#logo {
		width:calc(100% + 120rem);
		border-left:1px solid #000000;
		border-right:1px solid #000000;
		padding:0;		
		
	}

	#social {
		width:calc(100% - 50rem);
		background-image:url(/dist/images/);
			.social_block {
				height:4rem;
				display:flex;
				flex-direction:column;
				justify-content:space-around;
			}

		}


	.logo_bot{
		margin-top:10px;
	}
	
	.tabs-title {
		width:100%;
		
		
		a {
			height:94px;
			text-align:center;
			color:$greytext-color;
			border-left:1px solid #000000;
			border-right:1px solid #000000;
			
			&:hover{
				-webkit-transform: scale(1.1);
  				-ms-transform: scale(1.1);
 				 transform: scale(1.08);
			      transition-duration: 0.5s;
  					transition-delay: 0s, 0.5s;
  					
			}			
			
		}
	}

}
		